body {
    font-family: sans-serif;
}

#instructions {
    margin: 2em;
    position:relative;
    z-index:0;
}
#holder {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1em dashed lightgray;
    z-index:1;
}
#holder.hover {
    border: 1em dashed black;
}
#results-container {
    margin: 1rem;
}
.result-container {
    margin:1rem;
}
#data-container {
    margin: 1rem;
}
.result-category-header {
    font-size: 1.25rem;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid gray;
    text-align: center;
}
th, td {
    padding: .25em;
}

.success {
    color: green;
}
.fail {
    color: red;
}

#settings {
    margin: 2rem;
    padding: 1rem;
    position:relative;
    z-index:2;
    display: inline-block;
    background-color: lightyellow;
    border-radius: 1rem;
}